<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pws_Form::Form"
             title="Form"
             translate="title"
             module="Pws_Form"
             sortOrder="20"
             resource="Pws_Form::Form"
        />

        <add id="Pws_Form::product"
             title="Listings"
             translate="title"
             module="Pws_Form"
             sortOrder="10"
             parent="Pws_Form::Form"
             resource="Pws_Form::product"
        />
        <add id="Pws_Form::profile"
             title="Form Information"
             translate="title"
             module="Pws_Form"
             sortOrder="1"
             parent="Pws_Form::product"
             action="form/index/index"
             resource="Pws_Form::profile"
        />
    </menu>
</config>
