<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MyMod_Agent2::Agent2"
             title="Agent2"
             translate="title"
             module="MyMod_Agent2"
             sortOrder="20"
             resource="MyMod_Agent2::Agent2"
        />

        <add id="MyMod_Agent2::product"
             title="Listings"
             translate="title"
             module="MyMod_Agent2"
             sortOrder="10"
             parent="MyMod_Agent2::Agent2"
             resource="MyMod_Agent2::product"
        />
        <add id="MyMod_Agent2::profile"
             title="Agent2 Information"
             translate="title"
             module="MyMod_Agent2"
             sortOrder="1"
             parent="MyMod_Agent2::product"
             action="agent2/index/index"
             resource="MyMod_Agent2::profile"
        />
    </menu>
</config>
